.venv
./venv
/venv
./test.ipynb
/test.ipynb
/test_extract.py
/extracted_transactions_BOI.csv
/kotak.pdf
/bank_statement.pdf
/table_strategy.ipynb
/.env
.env
/debug_summary.py
/bank_statements
/passwords